h1 {
    color: green;
}

.container {
    width: 1200px;
    display: flex;
    justify-content: center;
    
}

.main_menu {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.info{
    background-color: #FF0000;
}