* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.filter {
    display: flex;
    justify-content: center;
}

.main_menu {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.info {
    background-color: #FF0000;
}

.menu_element {
    width: 100%;
    text-align: center
}

.title {
    display: block;
    text-align: center;
    margin-top: 70px;
}

.content {
    width: 280px;
    margin: 10px;
}

p.site_info {
    text-align: center;
    margin-top: 30px;
}

.searchInfo {
    border: 1px #e5d7d7a8 solid;
    padding: 20px 20px;
}

.list_item {
    width: 900px;
    margin: 10px;
    border: 1px #e5d7d7a8 solid;
}

.product_blocks {
    display: flex;
    width: 100%;
    justify-content: center;
}

.product_card {
    display: table;
    justify-content: space-around;
    border: 1px #464545a8 solid;
    border-radius: 10px;
    margin: 5px 0px;
    width: -webkit-fill-available;
}

.cell {
    width: 270px;
    height: 40px;
    box-sizing: border-box;
}

.items {
    width: -webkit-fill-available;
}

.start_page {
    display: flex;
    flex-direction: column;
}

.pages {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 100px;
}

.page {
    width: 20px;
}

.form {
    border-radius: 10px;
    padding: 20px 20px;
    border: 1px #e5d7d7a8 solid;
}

.action_form {
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 500px;
}

.fixpos {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}