<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/css/style.css}" />
</head>


<body>
    <div th:replace="up_menu :: main_menu"></div>
    <div class="start_page">
        <h1 class="title">Welcome to product base!</h1>
        <p class="site_info">Добро пожаловать в продуктовую базу, тут можно найти всё что угодно.</p>
        <a class="menu_element" href="loadFromFile">Load data from file</a>
    </div>

    <div th:replace="foot_menu :: footer"></div>
</body>

</html>