<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<html>

<body>
    <div th:replace="up_menu :: text"></div>
    <h1>Welcome to product BASE!</h1>
    <a href="productList">Show Product list</a><br>
    <a href="addProduct">Add new product</a><br>
    <a href="searchProductForm">Find product by [Product id]</a><br>
    <a href="deleteProductForm">Delete product by ID</a><br>
    <a href="updateProduct">Update product</a><br>
    <a href="maxResult">Search Max Cost</a><br>
    <a href="minResult">Search Min Cost</a><br>
    <a href="maxAndMinCost">Search Max and Min Cost</a><br>
    <a href="loadFromFile">Load data from file</a>
</body>

</html>