<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/css/style.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>

</body>
<div th:fragment="main_menu">


    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
            </svg>

        </a>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="menuAction" class="nav-link px-2 link-secondary">MAIN</a></li>
            <li><a sec:authorize="hasRole('ADMIN')" href="userList" class="nav-link px-2 link-secondary">USERS</a></li>
            <li><a href="typedProductList" class="nav-link px-2 link-dark">PRODUCT LIST</a></li>
            <li><a href="addProduct" class="nav-link px-2 link-dark">ADD</a></li>
            <li><a href="searchProductForm" class="nav-link px-2 link-dark">FIND</a></li>
            <li><a href="updateProduct" class="nav-link px-2 link-dark">UPDATE</a></li>
            <li><a href="deleteProductForm" class="nav-link px-2 link-dark">DELETE</a></li>
            <li><a href="cartList" class="nav-link px-2 link-dark">CART</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a class="login" sec:authorize="!isAuthenticated()" href="/login">LOGIN</a>
            <a class="login" sec:authorize="isAuthenticated()" href="/logout">LOGOUT</a>
        </div>
    </header>
</div>

</html>