<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/css/style.css}" />
</head>

<body>

</body>
<div th:fragment="main_menu">
    <div class="container">
        <div class="main_menu">
            <a class="menu_element" href="menuAction">MAIN</a><br>
            <a class="menu_element" href="typedProductList?minCost=&maxCost=&page=0">PRODUCT LIST</a><br>
            <a class="menu_element" href="addProduct">ADD</a>
            <a class="menu_element" href="searchProductForm">FIND</a>
            <a class="menu_element" href="updateProduct">UPDATE</a>
            <a class="menu_element" href="deleteProductForm">DELETE</a>
        </div>
    </div>
</div>





</html>