<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Обновить продукт</title>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/css/style.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <div th:replace="up_menu :: main_menu"></div>
    <div class="action_form">
        <div class="form">
            <form th:action="@{/updateProduct}" th:object="${product}" method="POST">
                <div class="mb-3">
                    <h2>Add or update product in base</h2>
                    <label for="productName" class="form-label">Product name:</label>
                    <input type="text" class="form-control" id="productName" name="productName" th:field="*{title}" aria-describedby="text">
                </div>
                <div class="mb-3">
                    <label for="cost" class="form-label">Cost:</label>
                    <input type="number" class="form-control" name="maxCost" th:field="*{cost}" id="cost">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form:form>
        </div>
    </div>
    <div th:replace="foot_menu :: footer"></div>
</body>

</html>